:root {
    --verde-claro: #6cddaa;
    --rosa-pink: #fe0080;
}

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    margin: 0 !important;
}

ul li {
    list-style-type: none;
}


/* BANNER CENTRAL */

.main-banner {
    min-height:100vh;
}

.image-container {
    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-image: url("../images/top-background.png");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    width:100%;
    z-index: 1;
    text-align: center;
}

.image-container h1 {
    color: white;
    margin-top: 3%;
}

.top-logo img {
    padding-top: 5%;
}

.logo-text {
    padding-top: 2%;
}

.image-container h1 span {
    background-color: #6cddaa;
}

.btn-startups {
    width: 25vw;
    margin-right: 10%;
    margin-top: 3%;
}

.btn-pessoas {
    width: 25vw;
    margin-top: 3%;
}


/* MENU */

.menu {
    padding: 0px 0;
}

.menu ul li {
    display: inline-block;
    margin: 0 10px;
}

.menu-links-dark li {
    color: white;
}

.menu-links-light li {
    color: var(--rosa-pink);
}

.menu img#logo {
    width: 100px; height: 100px;
}


/* POR QUE STARTUPS? */

.why-startups {
    background-color: white;
    height: 50vh;
    z-index:0;
}

.why-startups .aux-text {
    text-align: left;
    padding-left: 55vw;
    padding-top: 4vh;
    font-size: 1.5vw;
}

.why-startups .title {
    padding-left: 15%;
    padding-top: 2%;
    margin: 0px;
    text-align: left;
}

.why-startups .title .startups {
    text-decoration-line: overline;
}

.why-startups h1 {
    font-size: 3vw;
}

.why-startups h3 {
    font-size: 1.5vw;
}

.h3-alemDisso {
    padding-top:10vh; padding-bottom: 2vh;
}

.circle {
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    background-image: var(--rosa-pink);
    position: absolute;
    margin-left: 47%;
    margin-top: 1vw;
}

.circle h2 {
    padding-top: 30%;
    color: white;
    font-size: 2vw;
}

.circle-dashed {
    /* border-top-right-radius: 50%;
    border-bottom-right-radius: 50%; */
    border-radius: 50%;
    width: 50vw;
    height: 50vw;
    background-color:var(--verde-claro);
    margin-left: -25vw;
    margin-top: 15vh;
    position: absolute;
    z-index: 0;
}

.circle-dashed-2 {
    /* border-top-right-radius: 50%;
    border-bottom-right-radius: 50%; */
    border-radius: 50%;
    width: 50vw;
    height: 50vw;
    background-color:var(--verde-claro);
    margin-left: 75vw;
    margin-bottom: 20vh;
    margin-top: -65vh;
    position: absolute;
    z-index: -3;
}

.dash-rect-1 {
    width: 24vw;
    height: 2.5vw;
    background-color: white;
    z-index: 1;
    margin-left: 20vw !important;
    margin-top: 11vw;
    transform: rotate(-45deg);
}

.dash-rect-2 {
    width: 29vw;
    height: 2.5vw;
    background-color: white;
    z-index: 1;
    margin-left: 20vw !important;
    margin-top: 4vw;
    transform: rotate(-45deg);
}

.dash-rect-3 {
    width: 33vw;
    height: 2.5vw;
    background-color: white;
    z-index: 1;
    margin-left: 20vw !important;
    margin-top: 4vw;
    transform: rotate(-45deg);
}

.dash-rect-4 {
    width: 50vw;
    height: 2.5vw;
    background-color: white;
    z-index: 1;
    margin-left: -8vw !important;
    margin-top: -9vw;
    transform: rotate(-45deg);
}

.dash-rect-5 {
    width: 50vw;
    height: 2.5vw;
    background-color: white;
    z-index: 1;
    margin-left: -9.8vw !important;
    margin-top: -9vw;
    transform: rotate(-45deg);
}

.circle-dotted {
    /* border-top-right-radius: 50%;
    border-bottom-right-radius: 50%; */
    border-radius: 50%;
    width: 30vw;
    height: 31vw;
    background-color:white;
    background-image: radial-gradient(var(--verde-claro) 20%, white 10%);
    background-position: 0 0;
    background-size: 25px 25px;
    margin-left: 79vw;
    margin-top: -20vw;
    z-index: 0;
    position: absolute;
}

/* VANTAGENS/DIFERENCIAIS */
.advantages-snippet {
    background-color: var(--verde-claro);
    height: 53vh;
    /* padding-left: 50px; */
    display: inline-block;
    text-align: center;
    z-index: 9;
}

.advantages-snippet p {
    padding-top: 2vw;
    font-size: 1.2vw;
}

.circle-2 {
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    margin-top: 15vh;
    background-color: var(--rosa-pink);
    margin-left: auto;
    display: inline-block;
}


/* SIGNUP FORM */
.signup {
    z-index: 1;
    background-color: white;
    height: 40vh;
}

.signup h2 {
    font-size: 2.5rem;
}

.signup h3 {
    font-size: 2rem;
}

.signup .text {
    margin-top: 6vh;
}

.signup .prop-values {
    text-decoration-line: underline; padding-top: 1%; margin-bottom: 5%;
}

.signup-button, .form-contato button {
    background-color: var(--verde-claro);
    width: 30vw;
    border: none;
    color: white;
    text-align: center;
    border-radius: 30px; 
    font-size: 1.5vw;
}


/* NOSSO TIME */

.team {
    width: 100%;
}

.team h3 {
    font-size: 28px;
    margin: 40px 0 20px 0;
}

.team h5 {
    font-size: 18px;
    margin-bottom: 70px;
}

.team .slick-single-content img {
    width: 30vh; 
    text-align: center;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 5%;
    }

.team .slick-single-content {
    text-align: center;
}

input, textarea {
    padding: 5px;
}

.slick-single-content span {
    margin-bottom: 10px;
}

.slick-dots li button:before {
    font-size: 20px !important;
    color: var(--rosa-pink) !important;
    line-height: 20px;
}

.social-link {
    font-size: 20px;
    color: var(--rosa-pink);
    padding-left: 5px;
    padding-right: 5px;
}

.social-link:hover {
    color: #eb5da4
}


/* MEDIA QUERIES */

@media screen and (max-width: 1400px) {
    .why-startups {
        height: 30vw;
    } 
}

@media screen and (max-width: 600px) {
    .why-startups {
        height: 30vh;
    } 

    .top-logo {
        padding-top: 50%;
    }

    .advantages-snippet p {
        padding-top: -1vw;
        font-size: 5vw;
        
    }

    .circle {
        
        width: 20vw;
        height: 20vw;
        margin-left: 27%;
    }

    .circle-2 {
        
        width: 20vw;
        height: 20vw;

    }


    .why-startups .aux-text {
        text-align: left;
        padding-left: 55vw;
        padding-top: 1.5vh;
        font-size: 1.5vw;
    }
    
    .why-startups .title {
        padding-left: 15%;
        padding-top: 2%;
        margin: 0px;
        text-align: left;
    }
    
    .why-startups h1 {
        font-size: 7vw;
    }
    
    .why-startups h3 {
        font-size: 3.5vw;
    }

    .signup h2 {
        text-align: left;
        font-size: 5vw;
    }
    
    .signup h1 {
        text-align: left;
        font-size: 6vw;
    }
    
    .signup .text {
        margin-left: 10vw;
        margin-top: 8vh;
    }

    .signup-button, .form-contato button {
        background-color: var(--verde-claro);
        width: 60vw;
        border: none;
        color: white;
        text-align: center;
        border-radius: 30px; 
        font-size: 25vw;
    }

    .top h1{
        font-size: 5.5vw;
    }
    
    .circle-dashed {
        /* border-top-right-radius: 50%;
        border-bottom-right-radius: 50%; */
        border-radius: 50%;
        width: 50vw;
        height: 50vw;
        background-color:var(--verde-claro);
        margin-left: -25vw;
        margin-top: 20vh;
        position: absolute;
        z-index: 0;
    }

}