:root {
    --verde-claro: #6cddaa;
    --rosa-pink: #fe0080;
}

/*************/
/* TOP IMAGE */
/*************/

.image-container {
    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-image: url("../images/top-background.png");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    width:100%;
    z-index: 1;
}

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

p {
    margin: 0 !important;
}

header {
    padding: 15px 0;
}

ul li {
    list-style-type: none;
}

.menu {
    padding: 15px 0;
}

.menu ul li {
    display: inline-block;
    margin: 0 10px;
}

.menu-links-dark li {
    color: white;
}

.menu-links-light li {
    color: var(--rosa-pink);
}

.why-startups {
    background-color: white;
    height: 50vh;
}

.why-startups .aux-text {
    text-align: left;
    padding-left: 55vw;
    padding-top: 4vh;
    font-size: 1.5vw;
}

.why-startups .title {
    padding-left: 15%;
    padding-top: 2%;
    margin: 0px;
    text-align: left;
}

.why-startups h1 {
    font-size: 3vw;
}

.why-startups h3 {
    font-size: 1.5vw;
}

.circle {
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    background-image: var(--rosa-pink);
    position: absolute;
    margin-left: 47%;
    margin-top: 1vw;
}

.circle h2 {
    padding-top: 30%;
    color: white;
    font-size: 2vw;
}

.circle-dashed {
    /* border-top-right-radius: 50%;
    border-bottom-right-radius: 50%; */
    border-radius: 50%;
    width: 50vw;
    height: 50vw;
    background-color:var(--verde-claro);
    margin-left: -25vw;
    margin-top: 15vh;
    position: absolute;
    z-index: 0;
}

.dash-rect {
    width: 24vw;
    height: 2.5vw;
    background-color: white;
    z-index: 1;
    margin-left: 20vw !important;
    margin-top: 11vw;
    transform: rotate(-45deg);
}

.circle-dotted {
    /* border-top-right-radius: 50%;
    border-bottom-right-radius: 50%; */
    border-radius: 50%;
    width: 30vw;
    height: 31vw;
    background-color:white;
    background-image: radial-gradient(var(--verde-claro) 20%, white 10%);
    background-position: 0 0;
    background-size: 25px 25px;
    margin-left: 79vw;
    margin-top: -20vw;
    z-index: 0;
    position: absolute;
}


.advantages-snippet {
    background-color: var(--verde-claro);
    height: 53vh;
    /* padding-left: 50px; */
    display: inline-block;
    text-align: center;
}

.advantages-snippet p {
    padding-top: 2vw;
    font-size: 1.2vw;
}

.circle-2 {
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    margin-top: 15vh;
    background-color: var(--rosa-pink);
    margin-left: auto;
    display: inline-block;
}

.signup {
    z-index: 1;
    background-color: white;
}

.signup h2 {
    text-align: left;
    font-size: 3vw;
}

.signup h1 {
    text-align: left;
    font-size: 4vw;
}

.signup .text {
    margin-left: 10vw;
    margin-top: 3vh;
}

.signup-button, .form-contato button {
    background-color: var(--verde-claro);
    font-size: 1.5vw;
    width: 30vw;
    border: none;
    color: white;
    text-align: center;
}

/***************/
/* Nosso Time */
/***************/
.team {
    width: 100%;
}

.team h3 {
    font-size: 28px;
    margin: 40px 0 20px 0;
}

.team h5 {
    font-size: 18px;
    margin-bottom: 70px;
}

.team .slick-single-content img {
    width: 30%; 
    text-align: center;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

.team .slick-single-content {
    text-align: center;
}

input, textarea {
    padding: 5px;
}

.slick-single-content span {
    margin-bottom: 10px;
}

.slick-dots li button:before {
    font-size: 20px !important;
    color: var(--rosa-pink) !important;
    line-height: 20px;
}

.social-link {
    font-size: 20px;
    color: var(--rosa-pink);
    padding-left: 5px;
    padding-right: 5px;
}

.social-link:hover {
    color: #eb5da4
}

/********/
/* Form */
/********/


/*********/
@media screen and (max-width: 1400px) {
    .why-startups {
        height: 30vw;
    } 
}

@media screen and (max-width: 600px) {
    .why-startups {
        height: 25vh;
    } 

    .top-logo {
        padding-top: 50%;
    }

    .advantages-snippet p {
        padding-top: -1vw;
        font-size: 7vw;
        
    }

    .circle {
        
        width: 20vw;
        height: 20vw;
        margin-left: 27%;
    }

    .circle-2 {
        
        width: 20vw;
        height: 20vw;

    }

    .why-startups .aux-text {
        text-align: left;
        padding-left: 55vw;
        padding-top: 1.5vh;
        font-size: 1.5vw;
    }
    
    .why-startups .title {
        padding-left: 15%;
        padding-top: 2%;
        margin: 0px;
        text-align: left;
    }
    
    .why-startups h1 {
        font-size: 7vw;
    }
    
    .why-startups h3 {
        font-size: 3.5vw;
    }
}