* {
    box-sizing: border-box;
}

p {
    margin: 0 !important;
}

header {
    padding: 15px 0;
}

ul li {
    list-style-type: none;
}

.menu {
    padding: 15px 0;
    background-color: white;
}

.menu ul li {
    display: inline-block;
    margin: 0 10px;
}


/***************/
/* Nosso Time */
/***************/
.team {
    width: 100%;
}

.team h3 {
    font-size: 28px;
    margin: 40px 0 20px 0;
}

.team h5 {
    font-size: 18px;
    margin-bottom: 70px;
}

.team .slick-container img {
    width: 30%;
    border-radius: 50%;
}

input, textarea {
    padding: 5px;
}

.slick-single-content span {
    margin-bottom: 10px;
}


/********/
/* Form */
/********/
